body {
margin: 0;
font-family: "Segoe UI", sans-serif;
background: #f2faff;
}


.navbar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px 30px;
background: linear-gradient(90deg, #6ec1e4, #7ee081);
color: white;
}


.navbar a {
color: white;
margin-left: 15px;
text-decoration: none;
font-weight: 500;
}


.content {
padding: 40px;
}


.card {
background: white;
padding: 30px;
border-radius: 8px;
max-width: 900px;
margin: auto;
}


button {
background: #6ec1e4;
border: none;
padding: 10px 20px;
color: white;
cursor: pointer;
}